{% extends '_base.html.twig' %}

{% block pageTitle %}
    detail page
{% endblock %}

{% block detailLinkStyle %}
    current_page
{% endblock %}

{% block main %}

      <dl>
          <h2>Product Details: {{ products.Description}}</h2>
            <dt> Catalogue #</dt>
            <dd> {{ products.Id}}</dd>
            <dt> Quantity Available</dt>
            <dd> {{ products.StockLevel}}</dd>

            <dt> Price</dt>
            <dd> €{{ products.Price}}</dd>

            <dt> Category</dt>
            <dd> {{ products.CategoryDescription}}</dd>
            <dt>
                <img class="highlight" src="{{ products.image_url}}">
            </dt>
            <dd>
                <a href="index.php?action=addToCart&id={{products.Id}}">Add Product To Cart</a>
       {% if 'admin' in username %}
            <a href="index.php?action=showUpdateProductForm&id={{products.Id}}">UpdateProduct</a>
        {% endif %}
            <a href="index.php?action=list" class="{% block productsNavStyle %}{% endblock %}">View All Products</a>
        </dd>

</dl>
{% endblock %}