{% extends '_base.html.twig'%}
{% block pageTitle %}
	Index page
{% endblock %}

{% block indexNavStyle %}
	current_page
{% endblock %}

{% block main %}
	<div>
		<h2>Purchase Confirmation Page</h2>
		<p>Please review your order then click confirm purchase below to place your order.</p>

		<div class="column_container">
            {% if shoppingcart %}
			<section class="flex">
				<h3>Please Confirm Your order</h3>
					<table>
						<tr>
							<th>ProductId</th>
							<th>Item Description</th>
							<th>Quantity</th>
                        	<th>Price</th>
                            <th>Product Preview</th>

                            <th>sub-total</th>
						</tr>

{%    set total = 0 %}

    {% for cartitem in shoppingcart %}
						<tr>
							<td>{{cartitem.getProduct().Id }}</td>
							<td>{{cartitem.getProduct().Description}}</td>
							<td>{{cartitem.quantity}}</td>
							<td>&euro;{{cartitem.getProduct().Price}}</td>
                            <td> <img class="thumbnail" src="{{ cartitem.getProduct().Image_URL}}"></td>

                            <td>&euro;{{cartitem.getProduct().Price * cartitem.quantity}}
								{%  set total = total +cartitem.getProduct().Price * cartitem.quantity %}
							</tr>
						{% endfor %}

			</section>
				</table>
					<div class="column_container">
						<section class="flex">
						Your Order Total is &euro; {{ total }}
						</section>
						<section class="flex">
							<a href="index.php?action=confirmPurchase">(Place Order)</a>
						</section>

						<section class="flex">
							<a href="index.php?action=index">(Cancel)</a>
						</section>
						<section class="flex">
							<a href="index.php?action=saveShoppingCart">Store shopping cart for later</a>
						</section>
						<section class="flex">
							<a href="index.php?action=emptyCart">Empty cart</a>
						</section>
					</div>
			</section>
            {% endif %}
		</div>

	</div>

        <div class="column_container">
            <section class="flex">
                <h2>View All Merchandise</h2>
                <a href="index.php?action=list"><img alt="Vinyl album cover" src="../images/Withnail_soundtrack_cover_vinyl.jpg" width="200" height="200"></a>
            </section>
            <section class="flex">
                <h2>View Music and Video Products</h2>
                <a href="index.php?action=music"><img alt="DVD" src="../images/Withnail_dvd.jpg" width="200" height="200"></a>
            </section>
            <section class="flex">
                <h2>View Clothing and Apparel Products</h2>
                <a href="index.php?action=clothing"><img alt="Coat" src="../images/coat.jpeg" width="200" height="200"></a>
            </section>
        </div>
{% endblock %}

