{% extends '_base.html.twig' %}

{% block pageTitle %}
Update Product Form page
{% endblock %}

{% block newProductNavStyle %}
current_page
{% endblock %}

{% block main %}
<div>

	<h1>Update existing product</h1>
	<form
			action="index.php?action=updateproduct"
			method="POST"
	>
		<!-- ****** send ID, but don't let user see this ***** -->

		<fieldset>

			<input type="hidden" name="Id" value="{{product.Id}}" >

			<p>
			<label>Product Description:</label>
				<input type="text" name="description" value="{{product.Description}}">

		</p>
		<p>
			<label>Price:</label>
			<input type="text" name="price" value="{{product.Price}}" >
		</p>

		<p>
			<label>Stock Level:</label>
			<input type="text" name="stock" value="{{ product.StockLevel}}" >
		</p>

		<p>
			<label>Image Path:</label>
			<input type="text" name="image_url" value="{{ product.Image_URL}}" >
		</p>
			<p>
				<label>Product Category:</label>

				<select name="ProductCategoryId">
					{% for category in categories %}
						<option value="{{ category.ProductCategoryId}}">{{ category.CategoryDescription}} </option>
					{% endfor %}


				</select>
		<input type="submit" value="Update Product">
</fieldset>
	</form>




</div>


{% endblock %}